body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-size: 20px;
}

.navbar-header {
  margin: 20px;
}

.container-lg {
  border: 2px solid black;
  border-radius: 15px;
  margin: 30px 0px;
  padding: 15px;
  background-color: whitesmoke;
  box-shadow: 12px 12px 2px 1px #00B7FF;
}

.container-lg:hover {
  background-color: black;
  color: white;
}

.text-end {
  font-size: 30px;
}

.jumbotron{
  padding: 40vmin 15vmin;
  background-image: url(http://i.imgur.com/QowM8NS.jpg);
  background-size: cover;
  min-height: 100vh;
}

.jumbotron h1 {
  top: 10vmin;
  font-weight: bold;
  font-size: 10vmin;
  padding-left: 10vminpx;
}

.typewriter h1 {
  font: 70px 'Montserrat', sans-serif;
  overflow: hidden;
  border-right: .15em solid #00B7FF;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .10em; 
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end 8;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 90% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00B7FF }
}