body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  font-size: 20px;
  text-decoration: none;
}

.navbar-header {
  margin: 20px;
}

#logout, #login {
  text-align: end;
}

.container-lg {
  border: 2px solid black;
  border-radius: 15px;
  margin: 30px 0px;
  padding: 15px;
  background-color: whitesmoke;
  box-shadow: 12px 12px 2px 1px #00B7FF;
}

.container-lg:hover {
  background-color: #202121;
  color: white;
  transition: background-color 0.3s ease-out 100ms;
}

.btn:hover {
  background-color: #00B7FF;
  border: 2px solid #00B7FF;
  transition: background-color 0.2s ease-out 100ms;
  transition: border 0.2s ease-out 100ms;

}

.text-end {
  font-size: 30px;
}

.jumbotron{
  padding: 40vmin 15vmin;
  background-image: url(http://i.imgur.com/QowM8NS.jpg);
  background-size: cover;
  min-height: 100vh;
}

.jumbotron h1 {
  top: 10vmin;
  font-weight: bold;
  font-size: 8vmin;
  padding-left: 10vmin;
}

.typewriter h1 {
  font: 'Montserrat', sans-serif;
  overflow: hidden;
  border-right: .15em solid #00B7FF;
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .10em; 
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end 8;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 90% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #00B7FF }
}
input[type=checkbox] {
  position: relative;
  cursor: pointer;
  width: 0px;
  height: 0px;
}

input[type=checkbox]:checked:before {
      content: "";
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  border: 4px solid #00B7FF;
  border-radius: 20px;
  background-color: #445768;  
  transition: all 0.2s linear;
}


input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  width: 34px;
  height: 34px;
  border: 4px solid #00B7FF;
  border-radius: 3px;
  background-color: #445768;
}


input[type=checkbox]:after {
  content: "";
  display: block;
  width: 0px;
  height: 0px;
  border: solid #00B7FF;
  border-width: 0 0px 0px 0;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  position: absolute;
  top: 0px;
  left: 50px;
  transition: all 0.2s linear;
}

input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 12px;
  height: 21px;
  border: solid #00B7FF;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 14px;
}
